pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Bronze notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/bensouda8wail@gmail.com/bronze notebook",
					"baseParameters": {
						"start_date": {
							"value": "@formatDateTime(addDays(utcnow(),-1),'yyyy-MM-dd')",
							"type": "Expression"
						},
						"end_date": {
							"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabrickslinkedservices",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Silver notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Bronze notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/bensouda8wail@gmail.com/silver notebook",
					"baseParameters": {
						"bronze_params": {
							"value": "@string(activity('Bronze notebook').output.runOutput)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabrickslinkedservices",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Gold Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Silver notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/bensouda8wail@gmail.com/gold Note Book",
					"baseParameters": {
						"bronze_params": {
							"value": "@string(activity('Bronze notebook').output.runOutput)",
							"type": "Expression"
						},
						"silver_params": {
							"value": "@string(activity('Silver notebook').output.runOutput)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabrickslinkedservices",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}